language: ruby

services:
  - docker

env:
  global:
    - java_8_version=8u181
    - java_11_version=11.0.8
    - java_8_os_arch=linux-x64
    - java_8_se_type=serverjre
    - java_8_packaging=tar.gz
    - suffix=${TRAVIS_BRANCH}
    - registry=quay.io
    - namespace=alfresco
    - DOCKER_IMAGE_TAG_8=${java_8_version}-oracle-centos-7
    - DOCKER_IMAGE_TAG_11=${java_11_version}-openjdk-centos-7
    - DOCKER_IMAGE_REPOSITORY=alfresco-base-java

jobs:
  include:
    - stage: Download and build java 8
      name: "Build"
      before_script:
      - echo "${DOCKER_PASSWORD_QUAY}" | docker login ${registry} -u "${DOCKER_USERNAME_QUAY}" --password-stdin
      script:
      - |
        if [[ $TRAVIS_BRANCH == master ]]; then
        echo "JAVA 8"  && \
        wget --user=${NEXUS_USERNAME} --password=${NEXUS_PASSWORD} "https://artifacts.alfresco.com/nexus/content/repositories/oracle-java/${java_8_os_arch}/${java_8_se_type}/${java_8_version}/${java_8_se_type}-${java_8_version}-bin.${java_8_packaging}" && \
        docker build -t "${DOCKER_IMAGE_REPOSITORY}" . --build-arg JAVA_PKG=${java_8_se_type}-${java_8_version}-bin.${java_8_packaging} --no-cache && \        
        docker tag  "${DOCKER_IMAGE_REPOSITORY}" "${registry}/alfresco/${DOCKER_IMAGE_REPOSITORY}:${DOCKER_IMAGE_TAG_8}" && \
        docker images && \
        docker push "${registry}/alfresco/${DOCKER_IMAGE_REPOSITORY}:${DOCKER_IMAGE_TAG_8}"
        fi
