language: ruby

services:
  - docker

env:
  global:
    - java_versions=8,11 
    - suffix=${TRAVIS_BRANCH}
    - registry=quay.io
    - namespace=alfresco

jobs:
  include:
    - stage: All stages
      name: "All stages"
      script:
      - git clone https://github.com/Alfresco/alfresco-docker-base-java.git docker-tools
      - ls -l
      - ./scripts/bin/build.sh
