language: minimal

services:
  - docker

branches:
  only:
    - master

env:
  - CENTOS_MAJOR_VERSION=7 JAVA_MAJOR_VERSION=8
  - CENTOS_MAJOR_VERSION=7 JAVA_MAJOR_VERSION=11
  - CENTOS_MAJOR_VERSION=8 JAVA_MAJOR_VERSION=8
  - CENTOS_MAJOR_VERSION=8 JAVA_MAJOR_VERSION=11

before_script:
  - export BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
  - echo $QUAY_PASSWORD | docker login quay.io -u $QUAY_USERNAME --password-stdin
  - echo $DOCKER_PASSWORD | docker login docker.io -u "$DOCKER_USERNAME" --password-stdin
  - |-
    case $JAVA_MAJOR_VERSION in
      8)
        export JAVA_VERSION=8u181
        java_pkg_type=serverjre
        export JAVA_VENDOR=oracle
        export JAVA_PKG=${java_pkg_type}-${JAVA_VERSION}-bin.tar.gz
        export JAVA_URL_USERNAME=$NEXUS_USERNAME
        export JAVA_URL_PASSWORD=$NEXUS_PASSWORD
        export JAVA_URL=https://artifacts.alfresco.com/nexus/content/repositories/oracle-java/linux-x64/$java_pkg_type/$JAVA_VERSION/$JAVA_PKG
        ;;
      11)
        export JAVA_VERSION=11.0.10
        java_build=9
        export JAVA_VENDOR=openjdk
        export JAVA_PKG=OpenJDK11U-jdk_x64_linux_${JAVA_VERSION}_$java_build.tar.gz
        export JAVA_URL=https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-$JAVA_VERSION+$java_build/$JAVA_PKG
        ;;
    esac
  - |-
    export IMAGE_REGISTRY_NAMESPACE=alfresco
    export IMAGE_REPOSITORY=alfresco-base-java
    export IMAGE_TAG=$JAVA_VERSION-$JAVA_VENDOR-centos-$CENTOS_MAJOR_VERSION

script:
  - |-
    set -e

    wget --user=$JAVA_URL_USERNAME --password=$JAVA_URL_PASSWORD $JAVA_URL
    docker build -t $IMAGE_REPOSITORY . \
      --build-arg CENTOS_MAJOR_VERSION=$CENTOS_MAJOR_VERSION \
      --build-arg JAVA_PKG=$JAVA_PKG \
      --build-arg BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
    [[ $BRANCH == master ]] && IMAGE_TAG_SUFFIX=release-candidate || IMAGE_TAG_SUFFIX=$BRANCH
    IMAGE=quay.io/$IMAGE_REGISTRY_NAMESPACE/$IMAGE_REPOSITORY:$IMAGE_TAG-$IMAGE_TAG_SUFFIX
    docker tag $IMAGE_REPOSITORY $IMAGE
    docker push $IMAGE
    docker images

    if [[ "$TRAVIS_COMMIT_MESSAGE" == *"[release]"* ]] && [[ $BRANCH == master ]]
    then
      export SHORT_SHA256=$(docker image inspect -f '{{ printf "%.12s" (index (split (index .RepoDigests 0) ":") 1) }}' $IMAGE_REPOSITORY)
      echo SHORT_SHA256=$SHORT_SHA256
      for IMAGE_REGISTRY in quay.io docker.io
      do
        echo "tagging and pushing to $IMAGE_REGISTRY"
        for TAG in $IMAGE_TAG $IMAGE_TAG-$SHORT_SHA256 $JAVA_MAJOR_VERSION
        do
          docker tag $IMAGE_REPOSITORY $IMAGE_REGISTRY/$IMAGE_REGISTRY_NAMESPACE/$IMAGE_REPOSITORY:$TAG
          docker push $IMAGE_REGISTRY/$IMAGE_REGISTRY_NAMESPACE/$IMAGE_REPOSITORY:$TAG
        done
      done
    fi
