language: minimal

services:
  - docker

branches:
  only:
    - master

env:
  - DISTRIB_NAME=centos DISTRIB_MAJOR=7 JAVA_MAJOR=8
  - DISTRIB_NAME=centos DISTRIB_MAJOR=7 JAVA_MAJOR=11
  - DISTRIB_NAME=debian DISTRIB_MAJOR=11 JAVA_MAJOR=11
  - DISTRIB_NAME=ubi DISTRIB_MAJOR=8 JAVA_MAJOR=11

before_script:
  - export BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
  - echo $QUAY_PASSWORD | docker login quay.io -u $QUAY_USERNAME --password-stdin
  - echo $DOCKER_PASSWORD | docker login docker.io -u "$DOCKER_USERNAME" --password-stdin
  - |-
    case $JAVA_MAJOR in
      8)
        export JAVA_VERSION=8.0.302
        ;;
      11)
        export JAVA_VERSION=11.0.12
        ;;
    esac
  - |-
    export IMAGE_REGISTRY_NAMESPACE=alfresco
    export IMAGE_REPOSITORY=alfresco-base-java
    export IMAGE_TAG=${JAVA_VERSION}-${DISTRIB_NAME}-${DISTRIB_MAJOR}

script:
  - |-
    set -ex

    (cd ${DISTRIB_NAME}-${DISTRIB_MAJOR} && docker build -t ${DISTRIB_NAME}-${DISTRIB_MAJOR} .)
    docker build -t $IMAGE_REPOSITORY . \
      --build-arg DISTRIB_NAME=$DISTRIB_NAME \
      --build-arg DISTRIB_MAJOR=$DISTRIB_MAJOR \
      --build-arg JAVA_MAJOR=$JAVA_MAJOR \
      --build-arg REVISION=$TRAVIS_COMMIT \
      --build-arg CREATED=$(date -u +'%Y-%m-%dT%H:%M:%SZ') \
      --no-cache
    [[ $BRANCH == master ]] && IMAGE_TAG_SUFFIX=release-candidate || IMAGE_TAG_SUFFIX=${BRANCH//\//-}
    IMAGE=quay.io/$IMAGE_REGISTRY_NAMESPACE/$IMAGE_REPOSITORY:$IMAGE_TAG-$IMAGE_TAG_SUFFIX
    docker tag $IMAGE_REPOSITORY $IMAGE
    docker push $IMAGE
    docker images

    if [[ "$TRAVIS_COMMIT_MESSAGE" == *"[release]"* ]] && [[ $BRANCH == master ]]
    then
      export SHORT_SHA256=$(docker image inspect -f '{{ printf "%.12s" (index (split (index .RepoDigests 0) ":") 1) }}' $IMAGE_REPOSITORY)
      echo SHORT_SHA256=$SHORT_SHA256
      TAGS=($IMAGE_TAG $IMAGE_TAG-$SHORT_SHA256)
      [[ $DISTRIB_NAME == 'centos' ]] && [[ $DISTRIB_MAJOR == 7 ]] && TAGS+=($JAVA_MAJOR)
      for IMAGE_REGISTRY in quay.io docker.io
      do
        echo "tagging and pushing to $IMAGE_REGISTRY"
        for TAG in ${TAGS[*]}
        do
          docker tag $IMAGE_REPOSITORY $IMAGE_REGISTRY/$IMAGE_REGISTRY_NAMESPACE/$IMAGE_REPOSITORY:$TAG
          docker push $IMAGE_REGISTRY/$IMAGE_REGISTRY_NAMESPACE/$IMAGE_REPOSITORY:$TAG
        done
      done
    fi
