name: build
on:
  push:

env:
  IMAGE_REGISTRY_NAMESPACE: alfresco
  IMAGE_REPOSITORY: alfresco-base-java

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        base_image:
          - flavor: centos
            major: 7
          - flavor: rockylinux
            major: 8
          - flavor: rockylinux
            major: 9
        java_major:
          - 11
          - 17
        jdist:
          - jre
        exclude:
          - base_image:
              flavor: centos
              major: 7
            java_major: 17
          - base_image:
              flavor: rockylinux
              major: 9
            java_major: 11
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - id: vars
        name: Compute Image Tag
        env:
          IMAGE_BASE_NAME: ${{ matrix.jdist }}${{ matrix.java_major }}-${{ matrix.base_image.flavor }}${{ matrix.base_image.major }}
        run: |
          if [[ "${{ github.ref_name }}" == "master" ]]; then
            echo "image_tag=$IMAGE_BASE_NAME" >> $GITHUB_OUTPUT
            echo "image_labels=" >> $GITHUB_OUTPUT
          else
            echo "image_tag=${IMAGE_BASE_NAME}-${GITHUB_REF_NAME//\//-}" >> $GITHUB_OUTPUT
            echo "image_labels=quay.expires.after=2w" >> $GITHUB_OUTPUT
          fi
          echo "image_created=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT

      - name: Login to quay.io
        if: github.actor != 'dependabot[bot]'
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Login to docker.io
        if: github.ref_name == 'master'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Image locally
        uses: docker/build-push-action@v5.3.0
        with:
          load: true
          build-args: |
            JDIST=${{ matrix.jdist }}
            DISTRIB_NAME=${{ matrix.base_image.flavor }}
            DISTRIB_MAJOR=${{ matrix.base_image.major }}
            JAVA_MAJOR=${{ matrix.java_major }}
            REVISION=${{ github.run_number }}
            CREATED=${{ steps.vars.outputs.image_created }}
          tags: |
            local/${{ env.IMAGE_REPOSITORY }}:ci
          target: JAVA_BASE_IMAGE

      - name: Test Built Image
        run: |
          echo -n "Checking for java version: "
          docker run local/${{ env.IMAGE_REPOSITORY }}:ci java -version 2>&1 \
          | grep -i 'version \"${{ matrix.java_major }}\.'
          echo -n "Checking shell environment: "
          BASH_LOGIN="$(docker run local/${{ env.IMAGE_REPOSITORY }}:ci /bin/bash 2>&1 > /dev/null || true)"
          if [ -z "$BASH_LOGIN" ]; then
            echo ok
          else echo 'bash reported an error'
            echo $BASH_LOGIN
            exit 7
          fi

      - name: Build and Push to quay.io
        uses: docker/build-push-action@v5.3.0
        with:
          push: ${{ github.actor != 'dependabot[bot]' }}
          build-args: |
            JDIST=${{ matrix.jdist }}
            DISTRIB_NAME=${{ matrix.base_image.flavor }}
            DISTRIB_MAJOR=${{ matrix.base_image.major }}
            JAVA_MAJOR=${{ matrix.java_major }}
            REVISION=${{ github.run_number }}
            CREATED=${{ steps.vars.outputs.image_created }}
          tags: |
            quay.io/${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}
          platforms: linux/amd64,linux/arm64/v8
          labels: ${{ steps.vars.outputs.image_labels }}
          target: JAVA_BASE_IMAGE
          provenance: false

      - name: Push Image to docker.io
        if: github.ref_name == 'master'
        env:
          SRC_IMAGE: quay.io/${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}
          DST_IMAGE: ${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}
        run: |
          docker tag ${{ env.SRC_IMAGE }} ${{ env.DST_IMAGE }}
          docker push ${{ env.DST_IMAGE }}
