name: Build images

on:
  push:
    paths:
      - 'Dockerfile'
      - '.dockerignore'
      - '.github/workflows/main.yml'
  schedule:
    - cron: '12 2 * * MON'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name || github.run_id }}
  cancel-in-progress: true

env:
  IMAGE_REGISTRY_NAMESPACE: alfresco
  IMAGE_REPOSITORY: alfresco-base-java

jobs:
  build:
    name: Java ${{ matrix.java_major }} on ${{ matrix.base_image.flavor }}:${{ matrix.base_image.major }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: ${{ github.ref_name == 'master' && false || true }}
      matrix:
        base_image:
          - flavor: rockylinux
            major: 8
          - flavor: rockylinux
            major: 9
        java_major:
          - 11
          - 17
          - 21
        jdist:
          - jre
        exclude:
          - base_image:
              flavor: rockylinux
              major: 9
            java_major: 11
          - base_image:
              flavor: rockylinux
              major: 8
            java_major: 21
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - id: vars
        name: Compute Image Tag
        env:
          IMAGE_BASE_NAME: ${{ matrix.jdist }}${{ matrix.java_major }}-${{ matrix.base_image.flavor }}${{ matrix.base_image.major }}
        run: |
          if [[ "${{ github.ref_name }}" == "master" ]]; then
            echo "image_tag=$IMAGE_BASE_NAME" >> $GITHUB_OUTPUT
            echo "image_labels=" >> $GITHUB_OUTPUT
          else
            echo "image_tag=${IMAGE_BASE_NAME}-${GITHUB_REF_NAME//\//-}" >> $GITHUB_OUTPUT
            echo "image_labels=quay.expires-after=2w" >> $GITHUB_OUTPUT
          fi
          echo "image_created=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT
          echo "timestamp=$(date -u +'%Y%m%d%H%M')" >> $GITHUB_OUTPUT

      - name: Login to quay.io
        if: github.actor != 'dependabot[bot]'
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Login to docker.io
        if: github.ref_name == 'master'
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Image locally
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          load: true
          build-args: |
            JDIST=${{ matrix.jdist }}
            DISTRIB_NAME=${{ matrix.base_image.flavor }}
            DISTRIB_MAJOR=${{ matrix.base_image.major }}
            JAVA_MAJOR=${{ matrix.java_major }}
            REVISION=${{ github.run_number }}
            CREATED=${{ steps.vars.outputs.image_created }}
          tags: |
            local/${{ env.IMAGE_REPOSITORY }}:ci
          target: JAVA_BASE_IMAGE

      - name: Test Built Image
        run: |
          echo -n "Checking for java version: "
          docker run local/${{ env.IMAGE_REPOSITORY }}:ci java -version 2>&1 \
          | grep -i 'version \"${{ matrix.java_major }}\.'
          echo -n "Checking shell environment: "
          BASH_LOGIN="$(docker run local/${{ env.IMAGE_REPOSITORY }}:ci /bin/bash 2>&1 > /dev/null || true)"
          if [ -z "$BASH_LOGIN" ]; then
            echo ok
          else echo 'bash reported an error'
            echo $BASH_LOGIN
            exit 7
          fi

      - name: Build and Push to quay.io
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          push: ${{ github.actor != 'dependabot[bot]' }}
          build-args: |
            JDIST=${{ matrix.jdist }}
            DISTRIB_NAME=${{ matrix.base_image.flavor }}
            DISTRIB_MAJOR=${{ matrix.base_image.major }}
            JAVA_MAJOR=${{ matrix.java_major }}
            REVISION=${{ github.run_number }}
            CREATED=${{ steps.vars.outputs.image_created }}
          tags: |
            quay.io/${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}
          platforms: linux/amd64,linux/arm64/v8
          labels: ${{ steps.vars.outputs.image_labels }}
          provenance: false
          target: JAVA_BASE_IMAGE

      - name: Push additional timestamped tag to quay.io
        if: github.ref_name == 'master'
        env:
          SRC_IMAGE: quay.io/${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}
          DST_IMAGE: quay.io/${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}-${{ steps.vars.outputs.timestamp }}
        run: |
          docker buildx imagetools create ${{ env.SRC_IMAGE }} -t ${{ env.DST_IMAGE }}

      - name: Push images to docker.io
        if: github.ref_name == 'master'
        env:
          SRC_IMAGE: quay.io/${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}
          DST_IMAGE: ${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}
        run: >-
          docker buildx imagetools create ${{ env.SRC_IMAGE }}
          -t ${{ env.DST_IMAGE }}
          -t ${{ env.DST_IMAGE }}-${{ steps.vars.outputs.timestamp }}
