name: build
on:
  push:
    branches:
      - opsexp-[0-9]+**
      - OPSEXP-[0-9]+**
      - dependabot/**
      - master

env:
  IMAGE_REGISTRY_NAMESPACE: alfresco
  IMAGE_REPOSITORY: alfresco-base-java
jobs:
  docker_images:
    strategy:
      matrix:
        base_image:
          - flavor: alpine
            major: 3.15
          - flavor: centos
            major: 7
          - flavor: rockylinux
            major: 8
        java_major:
          - 11
          - 17
        jdist:
          - jre
        include:
          - base_image:
              flavor: centos
              major: 7
            java_major: 11
            jdist: jdk
          - base_image:
              flavor: rockylinux
              major: 8
            java_major: 17
            jdist: jdk
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - id: vars
        name: Compute Image Tag
        env:
          IMAGE_BASE_NAME: ${{ matrix.jdist }}${{ matrix.java_major }}-${{ matrix.base_image.flavor }}${{ matrix.base_image.major }}
        run: |
          if [[ "${{ github.ref_name }}" != "master" ]]
          then
            echo "::set-output name=image_tag::${IMAGE_BASE_NAME}-${GITHUB_REF_NAME//\//-}"
          elif [[ "${{ github.event.head_commit.message }}" =~ .*\[release\].* ]]
          then
            echo "::set-output name=image_tag::$IMAGE_BASE_NAME"
          else
            echo "::set-output name=image_tag::${IMAGE_BASE_NAME}-release-candidate"
          fi
          echo "::set-output name=image_created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')"
          echo "::set-output name=image_anchor::$(date -u +'%Y%m%d%H%M')"
      - name: Login to quay.io
        if: github.actor != 'dependabot[bot]'
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Login to docker.io
        if: contains(github.event.head_commit.message, '[release]') && github.ref_name == 'master'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push to quay.io
        uses: docker/build-push-action@v2.8.0
        with:
          push: ${{ github.actor != 'dependabot[bot]' }}
          build-args: |
            no-cache=true
            JDIST=${{ matrix.jdist }}
            DISTRIB_NAME=${{ matrix.base_image.flavor }}
            DISTRIB_MAJOR=${{ matrix.base_image.major }}
            JAVA_MAJOR=${{ matrix.java_major }}
            REVISION=${{ github.run_number }}
            CREATED=${{ steps.vars.outputs.image_created }}
          tags: |
            quay.io/${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}-${{ steps.vars.outputs.image_anchor }}
            quay.io/${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}
          platforms: linux/amd64,linux/arm64/v8
          target: JAVA_BASE_IMAGE
      - name: Push Image to docker.io
        if: contains(github.event.head_commit.message, '[release]') && github.ref_name == 'master'
        uses: akhilerm/tag-push-action@v2.0.0
        with:
          src: quay.io/${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}-${{ steps.vars.outputs.image_anchor }}
          dst: |
            ${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}-${{ steps.vars.outputs.image_anchor }}
            ${{ env.IMAGE_REGISTRY_NAMESPACE }}/${{ env.IMAGE_REPOSITORY }}:${{ steps.vars.outputs.image_tag }}
