name: Pre-commit

on:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@ffc4f9974da0c6fe311fb66e119547a2e8c126c8 # v12.0.0
        with:
          auto-commit: "true"
