name: Pre-commit

on:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@4657bc5c89f722332e897d8f360b75f08e81b8b9 # v12.1.0
        with:
          auto-commit: "true"
