name: Pre-commit

on:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@1c7cd7fb5f8130b8ddc9d512ecb958c12fc18e89 # v12.10.2
        with:
          auto-commit: "true"
