name: Pre-commit

on:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@03cc498daae9f1b06424f352d944e403b458b825 # v12.8.1
        with:
          auto-commit: "true"
